header {
    color: white;
    padding: 10px 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/1/1d/Stussy_Logo.svg/1200px-Stussy_Logo.svg.png');
    margin-top: 2%;
background-position: top;
    background-size: 8%;
    background-repeat: no-repeat;
}

h1 {
 color: black;
margin-left: 43%;
margin-top: 7%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart-total {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}